<div class="panel panel-default" ng-init="getPlayers()">
    <div class="panel-heading">
        <h3 class="panel-title">Add Plays
            <span class="pull-right">Defense:
                <select size = "4" ng-model="defender_teams" ng-init="selected"
                        ng-options="team.team_names as team.team_names for team in teamList">
                    <option value="" selected="selected">All</option>
                </select>
            </span>
            <span class="pull-right">Offense:
                <select size = "4" ng-model="receiver_teams"
                        ng-options="team.team_names as team.team_names for team in teamList">
                    <option value="" selected="selected">All</option>
                </select>
            </span>
            <span class="pull-right">Schedule:
                <select size = "1" ng-model="schedules"
                        ng-options="schedule.dates + ', ' + schedule.times as schedule.dates + ', ' + schedule.times for schedule in scheduleList | filter:{dates:formattedDate, times:formattedTime}">
                    <option value="" selected="selected">All</option>
                </select>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-2">
            <div class="form-group">
                <label>Quarterback</label>
                <select size = "2" ng-model="quarterbacks"
                        ng-options="player.full_names as player.full_names for player in playerList | filter:receiver_teams">
                    <option value="">$first</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Receiver</label>
                <select size = "2" ng-model="receivers"
                        ng-options="player.full_names as player.full_names for player in playerList | filter:receiver_teams">
                    <option value="">$first</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Receiver Results</label>
                <select size = "2" ng-model="receiver_results"
                        ng-options="result.result_names as result.result_names for result in resultList">
                    <option value="">$first</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Defender</label>
                <select size = "2" ng-model="defenders"
                        ng-options="player.full_names as player.full_names for player in playerList | filter:defender_teams">
                    <option value="">$first</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Defender Results</label>
                <select size = "2" ng-model="defender_results"
                        ng-options="result.result_names as result.result_names for result in resultList">
                    <option value="">$first</option>
                </select>
            </div>
        </div>
    </div>
</div>
