<a href="#/players">Go Back</a>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add Player</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form ng-submit="addPlayer()">
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" class="form-control" ng-model="player.full_names" placeholder="First Last">
            </div>
            <div class="form-group">
              <label>Height</label>
              <input type="text" class="form-control" ng-model="player.heights" placeholder="Feet-Inches">
            </div>
            <div class="form-group">
              <label>Weight</label>
              <input type="text" class="form-control" ng-model="player.weights" placeholder="Pounds">
            </div>
            <div class="form-group">
              <label>Birth Date</label>
              <input type="text" class="form-control" ng-model="player.birth_dates" placeholder="MM-DD-YY">
            </div>
            <div class="form-group">
              <label>Birth Place</label>
              <input type="text" class="form-control" ng-model="player.birth_places" placeholder="City, XX">
            </div>
            <div class="form-group">
              <label>College</label>
              <input type="text" class="form-control" ng-model="player.colleges" placeholder="College">
            </div>
            <div class="form-group">
              <label>Joined VSP</label>
              <input type="text" class="form-control" ng-model="player.joined_vsp_dates" placeholder="MM-DD-YY">
            </div>
            <div class="form-group">
              <label>Joined League</label>
              <input type="text" class="form-control" ng-model="player.joined_league_dates" placeholder="MM-DD-YY">
            </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>