<a href="#/schedules">Go Back</a>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add Schedule</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addSchedule()">
        <div class="form-group">
          <label>Season</label>
          <input type="text" class="form-control" ng-model="schedule.seasons" placeholder="Season">
        </div>
          <div class="form-group">
              <label>Date</label>
              <input type="text" class="form-control" ng-model="schedule.dates" placeholder="MM-DD-YYYY">
          </div>
          <div class="form-group">
              <label>Time</label>
              <input type="text" class="form-control" ng-model="schedule.times" placeholder="HH:MM:PM">
          </div>
        <div class="form-group">
          <label>Location</label>
          <input type="text" class="form-control" ng-model="schedule.locations" placeholder="Location">
        </div>
        <div class="form-group">
          <label>Week #</label>
          <input type="number" class="form-control" ng-model="schedule.weeks" placeholder="#">
        </div>
        <div class="form-group">
          <label>Home Team</label>
          <select ng-model="schedule.homes"
                  ng-options="team.team_names as team.team_names for team in teamList">
            <option value="">Select Team</option>
          </select>
        </div>
        <div class="form-group">
          <label>Away Team</label>
          <select ng-model="schedule.aways"
                  ng-options="team.team_names as team.team_names for team in teamList">
            <option value="">Select Team</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>