<div class="panel panel-default" ng-init="getPlayers()">
    <div class="panel-heading">
        <h3 class="panel-title">Add Plays
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-11">
                <form ng-submit="addPlay()">
                    <div class="row">
                        <span>Schedule:
                            <select size = "2" ng-model="play.schedules"
                                    ng-options="schedule.dates + ', ' + schedule.times as schedule.dates + ', ' + schedule.times for schedule in scheduleList | filter:{dates:formattedDate, times:formattedTime}">
                                    <option value="" ng-show="false"></option>
                            </select>
                        </span>
                        <span>Offense:

                        <div data-ng-repeat="team in teamList">
                            <input type="radio" value="{{team.team_names}}" ng-model="play.receiver_teams" name="play.receiver_teams" />
                            {{team.team_names}}
                        </div>
                        </span>
                        <span>Defense:
                            <select size = "4" ng-model="play.defender_teams"
                                    ng-options="team.team_names as team.team_names for team in teamList">
                                    <option value="" ng-show="false"></option>
                            </select>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Quarterback</label>
                                <label data-ng-repeat="player in playerList | filter:{full_names:play.receiver_teams}">
                                    <input type="radio" value="{{player.full_names}}" ng-model="play.quarterbacks" />
                                    {{player.full_names}}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Receiver</label>
                                <select size = "2" ng-model="play.receivers"
                                        ng-options="player.full_names as player.full_names for player in playerList | filter:play.receiver_teams">
                                    <option value="" ng-show="false"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Receiver Results</label>
                                <select size = "6" ng-model="play.receiver_results"
                                        ng-options="result.result_names as result.result_names for result in resultList | filter:{offense:'true'}">
                                    <option value="" ng-show="false"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Defender</label>
                                <select size = "2" ng-model="play.defenders"
                                        ng-options="player.full_names as player.full_names for player in playerList | filter:play.defender_teams">
                                    <option value="" ng-show="false"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Defender Results</label>
                                <select size = "6" ng-model="play.defender_results"
                                        ng-options="result.result_names as result.result_names for result in resultList | filter:{defense:'true'}">
                                    <option value="" ng-show="false"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-init="getPlays()">
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="play in plays | orderBy: '-create_date' ">
                <div ng-if="play.create_date.indexOf(play.schedules) > -1">
                    <div class="col-1-1">
                        <a class="btn btn-primary" href="#/plays/details/{{play._id}}">{{play.create_date}} | {{play.quarterbacks}} | {{play.receivers}} | {{play.receiver_results}} | {{play.defenders}} | {{play.defender_results}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>