<div class="panel-heading">
    <h3 class="panel-title">Administration</h3>
</div>
<div class="panel-body">
    <ul>
        <li><a href="#/statistics">Statistics</a></li>
        <li><a href="#/plays/add">Add Play</a></li>
        <li><a href="#/plays">View Plays</a></li>
        <li><a href="#/players/add">Add Player</a></li>
        <li><a href="#/players">View Players</a></li>
        <li><a href="#/teams/add">Add Teams</a></li>
        <li><a href="#/teams">View Teams</a></li>
        <li><a href="#/schedules/add">Add Schedule</a></li>
        <li><a href="#/schedules">View Schedules</a></li>
    </ul>
</div>