<div class="panel-heading">
    <h3 class="panel-title">Administration</h3>
</div>
<div class="panel-body">
    <ul>
        <li><a href="#/teams/add">Add Team</a></li>
        <li><a href="#/players/add">Add Player</a></li>
        <li><a href="#/schedules/add">Add Schedule</a></li>
        <li><a href="#/results/add">Add Result</a></li>
        <li><a href="#/results">View Results</a></li>
        <li><a href="#/stats/add">Add Stat</a></li>
        <li><a href="#/stats">View Stats</a></li>
    </ul>
</div>