<a href="#/players">Go Back</a>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Player</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updatePlayer()" ng-init="getPlayer()">
        <div class="form-group">
          <label>Team Name</label>
          <input type="text" class="form-control" ng-model="player.team_names" placeholder="Team Name">
        </div>
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" class="form-control" ng-model="player.full_names" placeholder="First Last">
        </div>
        <div class="form-group">
          <label>Position</label>
          <input type="text" class="form-control" ng-model="player.positions" placeholder="Position">
        </div>
        <div class="form-group">
          <label>Height</label>
          <input type="text" class="form-control" ng-model="player.dates" placeholder="Feet'Inches''">
        </div>
        <div class="form-group">
          <label>Weight</label>
          <input type="text" class="form-control" ng-model="player.weights" placeholder="Pounds">
        </div>
        <div class="form-group">
          <label>Birth Date</label>
          <input type="text" class="form-control" ng-model="player.birth_dates" placeholder="MM/DD/YYYY">
        </div>
        <div class="form-group">
          <label>Birth Place</label>
          <input type="text" class="form-control" ng-model="player.birth_places" placeholder="Birth Place">
        </div>
        <div class="form-group">
          <label>School</label>
          <input type="text" class="form-control" ng-model="player.schools" placeholder="School">
        </div>
        <div class="form-group">
          <label>Joined VSP</label>
          <input type="text" class="form-control" ng-model="player.joined_vsp" placeholder="MM/DD/YYYY">
        </div>
        <div class="form-group">
          <label>Joined League</label>
          <input type="text" class="form-control" ng-model="player.joined_league" placeholder="MM/DD/YYYY">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>