<a href="#/stats">Go Back</a>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Stat</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateStat()" ng-init="getStat()">
        <div class="form-group">
          <label>Stat</label>
          <input type="text" class="form-control" ng-required="required" ng-model="stat.stat_names" placeholder="Stat">
        </div>
        <div class="form-group">
          <label>Colors</label>
          <input type="text" class="form-control" ng-model="stat.stat_colors" placeholder="Primary / Secondary">
        </div>
        <div class="form-group">
          <label>Mascot</label>
          <input type="text" class="form-control" ng-model="stat.stat_mascots" placeholder="Mascot">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>