<a href="#/plays">Go Back</a>
<div class="panel panel-primary" ng-init="getPlay()">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">Schedule: <em>{{play.schedules}}</em></li>
          <li class="list-group-item">First Player: <em>{{play.first_players}}</em></li>
          <li class="list-group-item">Second Player: <em>{{play.second_players}}</em></li>
          <li class="list-group-item">Second Player Result: <em>{{play.second_player_results}}</em></li>
          <li class="list-group-item">Third Player: <em>{{play.third_players}}</em></li>
          <li class="list-group-item">Third Player Result: <em>{{play.third_player_results}}</em></li>
        </ul>
      </div>
    </div>
    <div class="pull-right">
        <a href="#/plays/edit/{{play._id}}">Edit</a>  |  <a href="#" ng-click="removePlay(play._id)">Delete</a>
    </div>
  </div>
</div>
