<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="addPlayer()">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" ng-model="player.full_names" placeholder="First Last">
                </div>
                <div class="form-group">
                    <label>Height</label>
                    <input type="text" class="form-control" ng-model="player.heights" placeholder="Feet-Inches">
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <input type="text" class="form-control" ng-model="player.weights" placeholder="Pounds">
                </div>
                <div class="form-group">
                    <label>Birth Date</label>
                    <input type="text" class="form-control" ng-model="player.birth_dates" placeholder="MM-DD-YY">
                </div>
                <div class="form-group">
                    <label>Birth Place</label>
                    <input type="text" class="form-control" ng-model="player.birth_places" placeholder="City, XX">
                </div>
                <div class="form-group">
                    <label>College</label>
                    <input type="text" class="form-control" ng-model="player.colleges" placeholder="College">
                </div>
                <div class="form-group">
                    <label>Joined VSP</label>
                    <input type="text" class="form-control" ng-model="player.joined_vsp_dates" placeholder="MM-DD-YY">
                </div>
                <div class="form-group">
                    <label>Joined League</label>
                    <input type="text" class="form-control" ng-model="player.joined_league_dates" placeholder="MM-DD-YY">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-init="getPlayers()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Players
      <span class="pull-right">Filter by College:
          <select ng-model="colleges">
              <option value="" selected>All</option>
              <option value="Nebraska">Nebraska</option>
          </select>
      </span></h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="player in players | filter:colleges | orderBy: '-create_date' ">
    		<div class="col-1-1">
    			<div class="col-1-1">
    				<a class="btn btn-primary" href="#/players/details/{{player._id}}">{{player.full_names}} - Height: {{player.heights}} - Weight: {{player.weights}} - Born: {{player.birth_dates}} - {{player.birth_places}} - College: {{player.colleges}} </a>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>