<a href="#/">Go Back</a>
<div class="panel panel-primary" ng-init="getPlayer()">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">Team Name: <em>{{player.team_names}}</em></li>
            <li class="list-group-item">Full Name: <em>{{player.full_names}}</em></li>
            <li class="list-group-item">Position: <em>{{player.positions}}</em></li>
            <li class="list-group-item">Height: <em>{{player.heights}}</em></li>
            <li class="list-group-item">Weight: <em>{{player.weights}}</em></li>
            <li class="list-group-item">Birth Date: <em>{{player.birth_dates}}</em></li>
            <li class="list-group-item">Birth Place: <em>{{player.birth_places}}</em></li>
            <li class="list-group-item">School: <em>{{player.schools}}</em></li>
            <li class="list-group-item">Joined VSP: <em>{{player.joined_vsp}}</em></li>
            <li class="list-group-item">Joined League: <em>{{player.joined_league}}</em></li>
        </ul>
      </div>
    </div>
    <div class="pull-right">
        <a href="#/players/edit/{{player._id}}">Edit</a>  |  <a href="#" ng-click="removePlayer(player._id)">Delete</a>
    </div>
  </div>
</div>
