<div class="panel panel-default" ng-init="getPlays()">
  <div class="panel-heading">
    <h3 class="panel-title">View Plays
        <span class="pull-right">Filter by Game:
          <select ng-model="schedules"
                  ng-options="schedule.dates + ' - ' + schedule.times as schedule.dates + ' - ' + schedule.times for schedule in scheduleList">
              <option value="" selected>Select Game</option>
          </select>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="play in plays | filter:schedules">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<a class="btn btn-primary" href="#/plays/details/{{play._id}}">{{play.create_date}} | {{play.first_players}} | {{play.second_players}} | {{play.results}}</a>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>
