<div class="panel panel-default" ng-init="getPlayers()">
  <div class="panel-heading">
    <h3 class="panel-title">View Players
      <span class="pull-right">Filter by Team:
          <select ng-model="team_names"
                  ng-options="team.team_names as team.team_names for team in teamList">
              <option value="team_names" selected>Select Team</option>
          </select>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="player in players | filter:team_names">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<p>Team Name: <em>{{player.team_names}}</em></p>
                    <p>Full Name: <em>{{player.full_names}}</em></p>
                    <p>Position: <em>{{player.positions}}</em></p>
                    <p>Height: <em>{{player.heights}}</em></p>
                    <p>Weight: <em>{{player.weights}}</em></p>
                    <p>Birth Date: <em>{{player.birth_dates}}</em></p>
                    <p>Birth Place: <em>{{player.birth_places}}</em></p>
                    <p>School: <em>{{player.schools}}</em></p>
                    <p>Joined VSP: <em>{{player.joined_vsp}}</em></p>
                    <p>Joined League: <em>{{player.joined_league}}</em></p>
    				<a class="btn btn-primary" href="#/players/details/{{player._id}}">View Details</a>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>
