<div class="panel panel-default" ng-init="getPlays()">
    <div class="panel-heading">
        <h3 class="panel-title">View Plays
            <span class="pull-right">Filter by Game:
                <select ng-model="schedules" ng-init="selected"
                        ng-options="schedule.dates + 'T' + schedule.times as schedule.dates + 'T' + schedule.times for schedule in scheduleList">
                    <option value="" selected="selected">All</option>
                </select>
            </span>
        </h3>
  </div>
  <div class="panel-body">
      <div ng-if="schedules != selected">
          <div ng-repeat="play in plays | filter:schedules">
              <div class="row">
                  <div class="col-md-6">
                      <a class="btn btn-primary" href="#/plays/details/{{play._id}}">{{play.create_date}} | {{play.first_players}} | {{play.second_players}} | {{play.results}}</a>
                  </div>
              </div>
          </div>
      </div>
      <div ng-if="schedules == selected">
          <div ng-repeat="play in plays">
              <div class="row">
                  <div class="col-md-6">
                      <a class="btn btn-primary" href="#/plays/details/{{play._id}}">{{play.create_date}} | {{play.first_players}} | {{play.second_players}} | {{play.results}}</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>