<a href="#/schedules">Go Back</a>
<div class="panel panel-primary" ng-init="getSchedule()">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">Season: {{schedule.seasons}}</li>
          <li class="list-group-item">Date: {{schedule.dates}}</li>
          <li class="list-group-item">Time: {{schedule.times}}</li>
          <li class="list-group-item">Location: {{schedule.locations}}</li>
          <li class="list-group-item">Week: {{schedule.weeks}}</li>
          <li class="list-group-item">Home Team: {{schedule.homes}}</li>
          <li class="list-group-item">Away Team: {{schedule.aways}}</li>
        </ul>
      </div>
    </div>
    <div class="pull-right">
        <a href="#/schedules/edit/{{schedule._id}}">Edit</a>  |  <a href="#" ng-click="removeSchedule(schedule._id)">Delete</a>
    </div>
  </div>
</div>
