<div class="panel panel-default" ng-init="getSchedules()">
  <div class="panel-heading">
    <h3 class="panel-title">View Schedules
      <span class="pull-right">Filter by Season:
          <select ng-model="seasons"
                  ng-options="schedule.seasons as schedule.seasons for schedule in scheduleList">
              <option value="" selected>Select Season</option>
          </select>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="schedule in schedules | filter:seasons">
    		<div class="col-md-10">
                <a class="btn btn-primary" href="#/schedules/details/{{schedule._id}}">{{schedule.seasons}} {{schedule.dates}} {{schedule.times}} - Week {{schedule.weeks}} : {{schedule.aways}} {{schedule.away_scores}} @ {{schedule.homes}} {{schedule.home_scores}} </a>
    		</div>
    	</div>
    </div>
  </div>
</div>
