<a href="#/schedules">Go Back</a>
<div class="panel panel-primary" ng-init="getSchedule()">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">Season: <em>{{schedule.seasons}}</em></li>
          <li class="list-group-item">Date: <em>{{schedule.dates}}</em></li>
          <li class="list-group-item">Location: <em>{{schedule.locations}}</em></li>
          <li class="list-group-item">Week: <em>{{schedule.weeks}}</em></li>
          <li class="list-group-item">Home Team: <em>{{schedule.homes}}</em></li>
          <li class="list-group-item">Away Team: <em>{{schedule.aways}}</em></li>
        </ul>
      </div>
    </div>
    <div class="pull-right">
        <a href="#/schedules/edit/{{schedule._id}}">Edit</a>  |  <a href="#" ng-click="removeSchedule(schedule._id)">Delete</a>
    </div>
  </div>
</div>
