<div class="panel panel-default" ng-init="getSchedules()">
  <div class="panel-heading">
    <h3 class="panel-title">View Schedules
      <span class="pull-right">Filter by Season:
          <select ng-model="seasons"
                  ng-options="schedule.seasons as schedule.seasons for schedule in scheduleList">
            <option value="">Select Season</option>
          </select>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="schedule in schedules | filter:seasons">
    		<div class="col-md-6">
    			<div class="col-md-6">
                    <p>Season: <em>{{schedule.seasons}}</em></p>
                    <p>Date: <em>{{schedule.dates}}</em></p>
                    <p>Time: <em>{{schedule.times}}</em></p>
                    <p>Location: <em>{{schedule.locations}}</em></p>
                    <p>Week: <em>{{schedule.weeks}}</em></p>
                    <p>Home Team: <em>{{schedule.homes}}</em></p>
                    <p>Away Team: <em>{{schedule.aways}}</em></p>
    				<a class="btn btn-primary" href="#/schedules/details/{{schedule._id}}">View Details</a>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>
