<a href="#/stats">Go Back</a>
<div class="panel panel-primary" ng-init="getStat()">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">Stat: <em>{{stat.stat_names}}</em></li>
          <li class="list-group-item">Colors: <em>{{stat.stat_colors}}</em></li>
          <li class="list-group-item">Mascot: <em>{{stat.stat_mascots}}</em></li>
        </ul>
      </div>
    </div>
    <div class="pull-right">
        <a href="#/stats/edit/{{stat._id}}">Edit</a>  |  <a href="#" ng-click="removeStat(stat._id)">Delete</a>
    </div>
  </div>
</div>
