<div class="panel panel-default" ng-init="getStats()">
  <div class="panel-heading">
    <h3 class="panel-title">View Stats
      <span class="pull-right">Filter by Stat:
          <select ng-model="stat_names" ng-init="selected"
                  ng-options="stat.stat_names as stat.stat_names for stat in statList">
              <option value="" selected="selected">All</option>
          </select>
      </span>
    </h3>
  </div>
  <div class="panel-body">
      <div ng-if="stat_names != selected">
          <div ng-repeat="stat in stats | filter:stat_names">
              <div class="row">
                  <div class="col-md-3">
                      <a class="btn btn-primary" href="#/stats/details/{{stat._id}}">Stat Name: {{stat.stat_names}} | Stat Colors: {{stat.stat_colors}} | Stat Mascot: {{stat.stat_mascots}}</a>
                  </div>
              </div>
          </div>
      </div>
      <div ng-if="stat_names == selected">
          <div ng-repeat="stat in stats">
              <div class="row">
                  <div class="col-md-3">
                      <a class="btn btn-primary" href="#/stats/details/{{stat._id}}">Stat Name: {{stat.stat_names}} | Stat Colors: {{stat.stat_colors}} | Stat Mascot: {{stat.stat_mascots}}</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
