<div class="panel panel-default" ng-init="getPlays()">
    <div class="panel-heading">
        <h3 class="panel-title">View Stats
            <span class="pull-right">Filter by Player:
                <select ng-model="full_names" ng-init="selected"
                        ng-options="player.full_names as player.full_names for player in playerList">
                    <option value="" selected="selected">All</option>
                </select>
            </span>
        </h3>
    </div>
    <div class="panel-body">
            <div ng-if="full_names != selected">
                <div ng-repeat="play in plays | filter:full_names">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Full Name: <em>{{play.second_players}}</em></p>
                        </div>
                        <div class="row">
                            <div ng-repeat="play in plays | filter: { $: full_names, results: 'Catch' } as catches">
                            </div>
                            <label>&nbsp;Catches: {{catches.length}}</label>
                        </div>
                        <div class="row">
                            <div ng-repeat="play in plays | filter: { $: full_names, results: 'Drop' } as drops">
                            </div>
                            <label>&nbsp;Drops: {{drops.length}}</label>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
