<div class="panel panel-default" ng-init="getPlays()">
    <div class="panel-heading">
        <h3 class="panel-title">View Stats
            <span class="pull-right">Filter by Player:
          <select ng-model="full_names">
              <option value="" selected>All</option>
              <option value="Andrew Nolan">Andrew Nolan</option>
          </select>
      </span></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-1-1">
                <label>&nbsp;Name: {{play.second_players}}</label>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="play in plays | filter: { $: full_names, results: 'Drop' } as drops">
            </div>
            <label>&nbsp;Drops: {{drops.length}}</label>
        </div>
    </div>
</div>